/*
* CSS created by Niidhogg
* Date: 16/03/2012
* CSS for the form exemple
*/

h2
{
	text-indent: 2em;
	margin: 0px;
	margin-bottom: 5px;
	
	background-color: #888888;
}

body
{
	background-color: black;
}