/*
* CSS created by Niidhogg
* Date: 16/03/2012
* CSS for the form
*/

form .p
{
	text-align: right;
	
	width: 31em;
	margin-left: auto;
	margin-right: auto;
}

form
{
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	
	padding: 10px;
	
	background-color: #aaaaaa;
	
	border-radius: 10px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 8px 8px 10px white;
}

.zoneVerif
{
	display: inline-block;
	width: 10em;
	height: 10px;
	
	background-image: url("IMG/masque.png");
	background-color: #dd0000;
	
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	
	position: relative;
	top: 1px;
}

label
{
	font-weight: bold;
}

label:hover
{
	text-decoration: underline;
}